/* ======= LOADER ==========*/
.loading{
    @include center;
    position: fixed;
    background-color: $background-color-footer;
    z-index: 900;
    height: 100%;
    width: 100%;
    margin:0px;
    animation: loader 3s both;
    .square{
        height: 300px; width: 300px;
        background-color: $tertiary-color;
        @include center;
        animation: spin 3s linear infinite paused;
        border: 5px double $secondary-color;
        & .circle{
             @include center;
             height: 100px;
             width: 100px;
             background: $primary-color;
             border-radius: 50%;
             animation: spin .5s linear infinite paused reverse, strafe 3s linear infinite paused;
          & .circle__text{
            color: white;
            font-family: $primary-font, Arial, Helvetica, sans-serif;
          }
        }
      }
}