/*==================================== */
/*             MENU              */
/*==================================== */
@import '../tools/variables';

.top__img{
    z-index: 1;
    height: 250px;
    & img{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}
main{
     background-color: $background-color-primary;
}
.menu{
    z-index: 2;
    position:relative;
    bottom: 50px;
    background:$background-color-primary ;
    border-radius: 30px 30px 0px 0px;
    padding: 15px;
    & .title{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        & .menu__main-title{
            font-family: $primary-font;
            font-weight: normal;
            font-size: $menu-main-title-size;
            margin: 1rem 0rem 2rem 0rem;
        }
    }
    /* == To center the button at the bottom of the menu == */
    & .center-box{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
.menu__box{
    display: flex;
    flex-flow: column nowrap;
    //animation d'apparition ?
    & .menu__title{
        @include menu-title;
    }
    & .menu__bar{
        width: 40px;
        border-bottom: 3px solid $tertiary-color;
    }
    & .plat-container{
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        margin: 1rem 0rem 2.5rem 0rem;
        & .plat-box{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;
            flex: 1 0 30%;
            color: $default-text-color;
            background-color: $background-text-color;
            min-width: 270px;
            border-radius: 20px;
            @include box-shadow;
            & .menu__plat{
                display: flex;
                flex-flow: column nowrap;
                padding: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                & .title__plat{
                    font-family: $secondary-font-bold;
                    font-size: $plat-title;
                    margin: 3px 0px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                & .menu__text{
                    display: flex;
                    justify-content: space-between;
                    font-family: $secondary-font;
                    font-size: $plat-text;
                    margin: 2px 0px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            & .plat__price{
                font-family: $secondary-font-bold;
                padding: 10px;
                text-overflow: clip;
                overflow: visible;
            }
        }
    }
}

.entree{
    animation: appear 0.5s ease-in-out both;
  }
  .plat{
    animation: appear 0.5s .3s ease-in-out both;
  }
  .entree .plat-box:nth-of-type(1){
    animation: appear 1s .2s linear both;
  }
  .entree .plat-box:nth-of-type(2){
    animation: appear 1s .4s linear both;
  }
  .entree .plat-box:nth-of-type(3){
    animation: appear 1s .6s linear both;
  }
  
  /* ==== */
  
  .plat .plat-box:nth-of-type(1){
    animation: appear 1s .8s linear both;
  }
  .plat .plat-box:nth-of-type(2){
    animation: appear 1s 1s linear both;
  }
  .plat .plat-box:nth-of-type(3){
    animation: appear 1s 1.2s linear both;
  }

   /* ==== */
  
   .dessert .plat-box:nth-of-type(1){
    animation: appear 1s .8s linear both;
  }
  .dessert .plat-box:nth-of-type(2){
    animation: appear 1s 1s linear both;
  }
  .dessert .plat-box:nth-of-type(3){
    animation: appear 1s 1.2s linear both;
  }